body{
	font-size: 20px;
}


#square-1{
	width:100px;
	height:100px;
	background-color: #FF0000;
	display: inline-block;
	padding:20px;
	margin:20px;
}


#square-2{
	width:4em;
	height: 4em;
	background-color: #00FF00;
	display:inline-block;
}

#circle{
	width:200px;
	height:200px;
	background-color: #ff00ff;
	border-radius: 50%;
}

#triangle{
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right:50px solid transparent;
	border-bottom: 150px solid black;

}