* {
  box-sizing: border-box;
}

.main{
    text-align: center;
    display: inline;
  margin: 20px auto;
    padding: 50px;
}


body{
  font-family: sans-serif;
  line-height: 1.5em;
  background:white;
}

link{
    margin: 40px;
    padding:10px;
  font-size: 40px;
    font-style: bold;
    color:blue;    
}

a:link{
    color:blue;
}
a:hover{
    color:red;
}

